[submodule "packages/march-core"]
	path = packages/march-core
	url = git@github.com:MarchProject/march-core.git
	branch = main
[submodule "services/march-auth"]
	path = services/march-auth
	url = git@github.com:MarchProject/march-auth.git
	branch = main
[submodule "services/march-inventory"]
	path = services/march-inventory
	url = git@github.com:MarchProject/march-inventory.git
	branch = main