[submodule "packages/march-core"]
	path = packages/march-core
	url = git@github.com:MarchProject/march-core.git
	branch = main
[submodule "packages/nestjs-proto-gen-ts"]
	path = packages/nestjs-proto-gen-ts
	url = git@github.com:MarchProject/nestjs-proto-gen-ts.git
	branch = main
[submodule "services/march-auth"]
	path = services/march-auth
	url = git@github.com:MarchProject/march-auth.git
	branch = main
[submodule "services/march-inventory"]
	path = services/march-inventory
	url = git@github.com:MarchProject/march-inventory.git
	branch = main
[submodule "services/march-user"]
	path = services/march-user
	url = git@github.com:MarchProject/march-user.git
	branch = main
[submodule "mariaDb"]
	path = mariaDb
	url = git@github.com:MarchProject/mariaDb.git
	branch = main	
